:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}


#game {
  width: 90vw;
  height: 100%;
  background-color: #242424;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#field {
  background-color: black;
  width: 450px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 95vw;
  height: 95vh;
  opacity: 1;
  animation: fade-in 1.5s ease-in;
  z-index: 1000;
  font-size: 5em;
  color: #646cff;
  text-align: center;
  -webkit-text-stroke:2px black;
}


.start-game-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 1;
  animation: fade-in 1.5s ease-in;
  z-index: 1000;
  font-size: 5em;
  color: #646cff;
  text-align: center;
  -webkit-text-stroke:2px black;
}


.score-text {
  font-size: 1.5em;
  font-weight: 500;
  color: #646cff;
  margin-bottom: 10px;
  margin-top: 10px;
}


.lines-text {
  margin-bottom: 10px;
  margin-top: 30px;
}


#next-piece {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}


#swaped-piece {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}

.next-piece-text {
  font-size: 1.5em;
  font-weight: 500;
  color: #646cff;
  margin-bottom: 10px;
}


.score-panel {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-right: 20px;
}


.row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 450px;
  height: 45px;
}


.block {
  width: 45px;
  height: 45px;
  border-radius: 2px;
}


.fade-out {
  animation: fade-out 0.5s ease-in-out;
  opacity: 0;
}


.dim-screen {
  opacity: 0.5;
  animation: fade-half 0.75s ease-in-out;
}


@keyframes fade-half {
  0% { opacity: 1; }
  100% { opacity: 0.5; }
}


@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.block.black {
  background-color: black;
}


.block.red {
  background-color: #D91656;
  -webkit-box-shadow:0px 0px 27px 9px rgba(240,240,240,0.33);
  -moz-box-shadow: 0px 0px 27px 9px rgba(240,240,240,0.33);
  box-shadow: 0px 0px 27px 9px rgba(240,240,240,0.33);
}


.block.blue {
  background-image: linear-gradient(45deg, #003092 33.33%, #363636 33.33%, #363636 50%, #003092 50%, #003092 83.33%, #363636 83.33%, #363636 100%);
  background-size: 42.43px 42.43px;
  border-radius: 0;
}


.block.yellow {
  background-color: #FFB200;
  background-image: radial-gradient(#212121 20%, transparent 20%);
  background-position: 0 0, 4px 4px;
  background-size: 42px 42px;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
}


.block.green {
  background-color: #3F4F44;
  background-image: radial-gradient(#212121 20%, transparent 20%);
  background-position: 0 0, 4px 4px;
  background-size: 42px 42px;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
}


.block.purple {
  border-radius: 3px;
  background: linear-gradient(145deg, #5a0c56, #6b0e66);
  box-shadow:  5px 5px 14px #630d5e,
               -1px -1px 14px #650d60;
}


.block.orange {
  background-color: #EB5B00;
  border-radius: 0;
}


.block.cyan {
  background-color: #00879E;
  border-radius: 0;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
